/* navbar */

#navbar {
    height: 78vh;
    width: 5vw;
    background: rgb(255, 255, 255);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 15vh;
    box-shadow: 0 1.5rem 2.8rem rgba(0, 0, 0, 0.15), 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 200ms;
}

#box1 {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 12% 20% 20% 20% 20% 8%;
    margin: 0 auto;
    padding-top: 3vh;
}

#link5 img {
    grid-row-start: 1;
    height: 50px;
    width: 50px;
    margin-left: 12px;
    justify-self: center;
}

#link1 {
    grid-row-start: 2;
    justify-self: center;
    font-size: 20px;
    color: rgb(125, 118, 148);
}

#link1 i {
  margin-left: 10px;
  font-size:30px;
}

#link1 i:hover {
    z-index: 2;
    transform: translate(0, -0.5rem) scale(1.01);
    position: relative;
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
    color: #222E6A;
}

#link2 {
    grid-row-start: 3;
    justify-self: center;
    font-size: 20px;
    color: rgb(125, 118, 148);
}

#link2 i {
  margin-left: 10px;
  font-size:30px;
}

#link2 i:hover {
    z-index: 2;
    transform: translate(0, -0.5rem) scale(1.01);
    position: relative;
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
      color: #222E6A;
}

#link3 {
    grid-row-start: 4;
    justify-self: center;
    font-size: 20px;
    color: rgb(125, 118, 148);
}

#link3 i {
  margin-left: 10px;
  font-size:30px;
}

#link3 i:hover {
    z-index: 2;
    transform: translate(0, -0.5rem) scale(1.01);
    position: relative;
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
    color: #222E6A;
}

#link4 {
    grid-row-start: 5;
    justify-self: center;
    font-size: 20px;
    color: rgb(125, 118, 148);
}

#link4 i {
  margin-left: 10px;
  font-size:30px;
}

#link4 i:hover {
    z-index: 2;
    transform: translate(0, -0.5rem) scale(1.01);
    position: relative;
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
    color: #222E6A;
}
