<div id="navbar">
    <div id="box1">
      <div id="link5" [routerLink]="['http://www.fh-wedel.de']">
          <img src="assets/fotos/logo.jpg" alt="Logo">
      </div>
        <div id="link1" [routerLink]="['/uebersicht']">
            <i class="fas fa-search"></i>
            <p> Suche </p>
        </div>
       <div id="link2" [routerLink]="['/erstellseite']">
           <i class="fas fa-plus-circle"  ></i>
             <p> Abschlussarbeit </p>
        </div>
        <div id="link3" [routerLink]="['/personerstellseite']">
            <i class="fas fa-plus-circle" ></i>
              <p> Person</p>
        </div>

        <div id="link4" [routerLink]="['/logout']">
            <i class="fas fa-sign-out-alt"  ></i>
              <p> Logout </p>
        </div>
    </div>
</div>
