/* navbar */

#navbar {
    height: 78vh;
    width: 5vw;
    background: rgb(255, 255, 255);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 15vh;
    box-shadow: 0 1.5rem 2.8rem rgba(0, 0, 0, 0.15), 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 200ms;
}

#box1 {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 16% 16% 16% 16% 16% 10%;
    margin: 0 auto;
    padding-top: 3vh;
}

#link1 {
    grid-row-start: 2;
    justify-self: center;
    font-size: 30px;
    color: rgb(125, 118, 148);
}

#link1:hover {
    z-index: 2;
    transform: translate(0, -0.5rem) scale(1.01);
    position: relative;
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
    color: rgb(97, 64, 204);
}

#link2 {
    grid-row-start: 3;
    justify-self: center;
    font-size: 30px;
    color: rgb(125, 118, 148);
}

#link2:hover {
    z-index: 2;
    transform: translate(0, -0.5rem) scale(1.01);
    position: relative;
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
    color: rgb(97, 64, 204);
}

#link3 {
    grid-row-start: 4;
    justify-self: center;
    font-size: 30px;
    color: rgb(125, 118, 148);
}

#link3:hover {
    z-index: 2;
    transform: translate(0, -0.5rem) scale(1.01);
    position: relative;
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
    color: rgb(97, 64, 204);
}

#link4 {
    grid-row-start: 5;
    justify-self: center;
    font-size: 30px;
    color: rgb(125, 118, 148);
}

#link4:hover {
    z-index: 2;
    transform: translate(0, -0.5rem) scale(1.01);
    position: relative;
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
    color: rgb(97, 64, 204);
}

#link5 {
    grid-row-start: 6;
    justify-self: center;
    font-size: 30px;
    color: rgb(125, 118, 148);
}

#link5:hover {
    z-index: 2;
    transform: translate(0, -0.5rem) scale(1.01);
    position: relative;
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
    color: rgb(97, 64, 204);
}
