@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    background: rgb(199, 225, 226);
}

.main {
    display: block;
  margin-left: 10vw;
}

.main-wrapper {
    display: flex;
}
