/* header */

header {
    margin: auto 0;
    height: 20vh;
    width: 100vw;
}

#topbar {
    overflow: hidden;
    background: #222E6A;
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 77vw;
    margin: 0 auto;
    box-shadow: 0 1.5rem 2.8rem rgba(0, 0, 0, 0.15), 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 200ms;
}

#download {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    line-height: 60px;
    margin-left: 15vw;
    transition: all 200ms;
}
