<section id="container2">
          <div id="beschreibung">Beschreibung
            <div>
              <p>
                Titel: {{abschlussarbeit.titel}}
                Abstract: {{abschlussarbeit.abstract}}
               Kategorie:{{abschlussarbeit.kategorie}}
              </p>
            </div>
          </div>
          <div id="autor">Autor
            <div>
              <p>
                {{student.bezeichnung}} {{student.vorname}} {{student.nachname}}
                {{student.matrikelnummer}}
                {{student.kategorie}}
                {{student.studiengang}}
                {{student.email}}
              </p>
            </div>
          </div>
          <div id="betreuer">Betreuer
            <div>
              <p>
                Dozent:
                {{dozent.bezeichnung}} {{dozent.vorname}} {{dozent.nachname}}
                {{dozent.email}}
                Firma: {{unternehmen.firmenname}} {{unternehmen.rechtsform}}
                {{unternehmen.branche}}
                {{unternehmen.strasse}} {{unternehmen.hausnummer}} {{unternehmen.zusatz}}
                {{unternehmen.plz}} {{unternehmen.ort}}
              </p>
            </div>
          </div>
      </section>
