<form (ngSubmit)="suchen($event)">
  <div id="filter">
    <div class="filter">Studiengang:
    <select id="studiengang" name="studiengang">
      <option value="*"> alle</option>
      <option *ngFor="let studiengang of studiengaenge"  [value]="studiengang.studiengangID">{{studiengang.bezeichnung}}</option>
      </select>
      </div>
      <div class="filter">
        Kategorie:
        <select id="kategorie" name="kategorie">
          <option value="*"> alle</option>
          <option *ngFor="let kategorie of kategorien"  [value]="kategorie.kategorieID">{{kategorie.bezeichnung}}</option>
          </select>
      </div>
      <button type="submit" id="submit">Suchen</button>
    </div>
    <p> Freitextsuche im Titel: <input [(ngModel)]="searchText" placeholder="Freitextsuche.." name="freitext"></p>
    </form>
  <section id="container3" *ngIf="abschlussarbeiten.length !=0; else notShow">
    <div id="tab">
    <table>
      <thead>
        <tr>
          <th scope="col">Titel der Abschlussarbeit</th>
          <th scope="col">Autor</th>
          <th scope="col">Dozent</th>
          <th scope="col">Kategorie</th>
        </tr>
</thead>
<tbody>

    <tr *ngFor="let abschlussarbeit of abschlussarbeiten | grdFilter: searchText ;">

      <td id="titel"> <a [routerLink]="['/detailseite/', abschlussarbeit.arbeitsID ]" routerLinkActive="active"> {{abschlussarbeit.titel}}  </a> </td>
      <td> <a routerLink="/detailseite" routerLinkActive="active"> {{abschlussarbeit.Vorname}} {{abschlussarbeit.Nachname}} </a></td>
      <td> <a routerLink="/detailseite" routerLinkActive="active"> {{abschlussarbeit.DVorname}} {{abschlussarbeit.DNachname}} </a></td>
      <td> <a routerLink="/detailseite" routerLinkActive="active"> {{abschlussarbeit.Kategorie}} </a></td>
    </tr>
  </tbody>
      </table>
      </div>
  </section>
  <ng-template #notShow>
  <p>
    Leider sind noch keine Abschlussarbeiten für deine Filter angelegt..!
  </p>
</ng-template>
