<section id="container3">
    <form  >
  <div id="login">
    <br>
    <form (ngSubmit)="loginUser($event)">
      <div id="txt">
        <div id="name">Bitte geben Sie Ihre Anmeldedaten ein.</div> <br>
        <div>Benutzername  </div> <div> <input   type="text" autocomplete="off" placeholder="Username" id="username" name ="username"> </div> <br>
        <div>Passwort  </div><div>      <input   type="password" autocomplete="off" placeholder="Password" id="password" name="password"> </div>
        <button type="submit" id="submit">Anmelden </button>
      </div>
    </form>
  </div>
  </form>
</section>
