<h1>ADD Branche</h1>
<div>
  <label>Branche name:
    <input #brancheName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(brancheName.value); brancheName.value=''">
    add
  </button>
</div>

 <hr> 
 <hr>
<h1>DELETE Branche</h1>
<ul class="branchen">
  <li *ngFor="let branche of branchen">
    <a routerLink="/detail/">
      <span class="badge">{{branche.BranchenID}}</span> {{branche.Bezeichnung}}
    </a>
    <button class="delete" title="delete branche"
      (click)="delete(branche)">x</button>
  </li>
</ul>

 <hr>
 <hr>
<h1>GET Branche</h1>
<label>Branche name:
    <input #getBranche />
  </label>

    <button class="get" title="get branche"
      (click)="get(getBranche.value)">get</button>

{{this.getByIdBranche.Bezeichnung}}
<hr>
<hr>
<h1></h1>

<div *ngIf="branche">
  <h2>{{branche.Bezeichnung | uppercase}} Details</h2>
  <div><span>id: </span>{{branche.BranchenID}}</div>
  <div>
    <label>name:
      <input  placeholder="name"/>
    </label>
  </div>
  <div class="grid grid-pad">
  <a *ngFor="let branche of branchen" class="col-1-4"
      routerLink="/detail/">
    <div class="module branche">
      <h4>{{branche.Bezeichnung}}</h4>
    </div>
  </a>
</div>


